{% comment %} select section from sections folder, section title is everything before .liquid in name {% endcomment %}
{% section 'rich-text' %}
{% section 'custom-liquid' %}
{% section 'page' %}


<h1> This Works </h1>

<body> body text </body>

<title> TAG </title>
{% if page.title == 'Test' %}
    Yes, page title is test.
{% endif %}

{% comment %} unless is the oposite of if {% endcomment %}
{% unless page.title == 'Test' %}
    The page title is not Test.
{% endunless %}    


<h3> FILTER </h3>
{{ 'hello world' | capitalize }}